<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    const roomId = "<%= roomId %>";
    const mode = "<%= mode %>";
    const users = "<%= users %>";
    const msg = "<%= msg %>";
  </script>
  <link rel="stylesheet" href="<%=baseURL%>/css/styles.min.css">
  <script src="<%=baseURL%>/js/app.js" defer></script>
  <script src="<%=baseURL%>/js/knock.js" defer></script>
  <title>
    <%=roomId%> - Join Chatroom
  </title>
</head>

<body>
  <main class="flex flex-col jusify-center lg:h-screen w-screen min-h-[600px]">
    <header class="h-16 px-4 lg:px-10 flex justify-between items-center">
      <div>
        <a href="/" class="flex gap-3 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8 text-primary">
            <path
              d="M4.5 4.5a3 3 0 00-3 3v9a3 3 0 003 3h8.25a3 3 0 003-3v-9a3 3 0 00-3-3H4.5zM19.94 18.75l-2.69-2.69V7.94l2.69-2.69c.944-.945 2.56-.276 2.56 1.06v11.38c0 1.336-1.616 2.005-2.56 1.06z" />
          </svg>
          <span class="font-medium text-2xl">NYSM</span>
        </a>
      </div>
      <div class="ml-auto flex gap-2 items-center">
        <div id="clock" class="hidden lg:block lg:mr-3"></div>
        <div class="flex items-center">
          <button class="h-10 w-10 hover:bg-gray-50 rounded-full justify-center flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M9.594 3.94c.09-.542.56-.94 1.11-.94h2.593c.55 0 1.02.398 1.11.94l.213 1.281c.063.374.313.686.645.87.074.04.147.083.22.127.324.196.72.257 1.075.124l1.217-.456a1.125 1.125 0 011.37.49l1.296 2.247a1.125 1.125 0 01-.26 1.431l-1.003.827c-.293.24-.438.613-.431.992a6.759 6.759 0 010 .255c-.007.378.138.75.43.99l1.005.828c.424.35.534.954.26 1.43l-1.298 2.247a1.125 1.125 0 01-1.369.491l-1.217-.456c-.355-.133-.75-.072-1.076.124a6.57 6.57 0 01-.22.128c-.331.183-.581.495-.644.869l-.213 1.28c-.09.543-.56.941-1.11.941h-2.594c-.55 0-1.02-.398-1.11-.94l-.213-1.281c-.062-.374-.312-.686-.644-.87a6.52 6.52 0 01-.22-.127c-.325-.196-.72-.257-1.076-.124l-1.217.456a1.125 1.125 0 01-1.369-.49l-1.297-2.247a1.125 1.125 0 01.26-1.431l1.004-.827c.292-.24.437-.613.43-.992a6.932 6.932 0 010-.255c.007-.378-.138-.75-.43-.99l-1.004-.828a1.125 1.125 0 01-.26-1.43l1.297-2.247a1.125 1.125 0 011.37-.491l1.216.456c.356.133.751.072 1.076-.124.072-.044.146-.087.22-.128.332-.183.582-.495.644-.869l.214-1.281z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
          </button>
        </div>
        <div class="flex items-center">
          <div class="h-10 w-10 p-1 hover:bg-gray-50 rounded-full overflow-hidden cursor-pointer">
            <img class="h-8 w-8 rounded-full" src="https://manojbarman.in/manoj-barman.jpg" alt="Manoj Barman">
          </div>
        </div>
      </div>
    </header>
    <section class="flex-1 px-4 lg:px-10 h-full flex flex-col items-center">
      <div class="mx-auto flex-1 w-full flex flex-col lg:flex-row items-center justify-between mb-10">
        <div class="prose px-6 lg:px-0 mx-auto w-full max-w-[720px] flex flex-col items-center lg:items-start gap-3">
          <div id="video-preview"
            class="aspect-[16/9] bg-black rounded-md overflow-hidden w-full mx-auto relative not-prose">
            <div class="absolute inset-x-0 bottom-4 flex justify-center z-10 gap-4">
              <button type="button" class="media-btn__on" id="btnAudio" onclick="muteUnmute()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z" />
                </svg>
              </button>
              <button type="button" class="media-btn__on" id="btnVideo" onclick="cameraOnOff()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="w-5 h-5">
                  <path stroke-linecap="round"
                    d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
                </svg>
              </button>
            </div>
          </div>
          <!-- <div class="py-2 flex text-sm gap-2 px-4 border-neutral-200 border rounded-full">
            <span class="text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M10.125 2.25h-4.5c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125v-9M10.125 2.25h.375a9 9 0 019 9v.375M10.125 2.25A3.375 3.375 0 0113.5 5.625v1.5c0 .621.504 1.125 1.125 1.125h1.5a3.375 3.375 0 013.375 3.375M9 15l2.25 2.25L15 12" />
              </svg>
            </span> Check your audio and video
          </div> -->
        </div>
        <form action="/join/<%=roomId%>" method="POST" onsubmit="return submitForm()">
          <div class="flex prose flex-col items-center py-10 xl:mr-20 xl:w-80">
            <div class="text-2xl">Ready to join?</div>
            <div class="mt-4">
              <input type="text" name="name" required class="input py-2.5 px-4 w-60" placeholder="Enter your name"
                id="username">
            </div>
            <p>
              <% if(users> 0) {%>
                <%=users%> people in the room
                  <% } else {%>
                    No one else is there
                    <% }%>
            </p>
            <% if(mode=='creator' ) { %>
              <button type="submit" class="bg-primary text-white px-4 w-28 py-2 rounded-full shadow-md">Start</button>
              <% } else if (mode=='guest' ) { %>
                <button type="submit" class="bg-primary text-white px-4 w-36 py-2.5 rounded-full hover:shadow-md">Join
                  Room</button>
                <% } %>
                  <p class="my-6"> <span class="text-sm">Other joining options: n/a</span> </p>
          </div>
        </form>
      </div>
      <div class="py-2 text-xs text-center px-5 mt-auto text-neutral-500" role="alert" aria-live="assertive">By joining,
        you agree
        to the
        <span class="text-primary">Terms of Service</span> and <span class="text-primary">Privacy Policy</span>.
      </div>
    </section>
  </main>
  <div class="fixed inset-0 bg-black bg-opacity-70 z-10 items-center justify-center p-4 hidden" id="mediaAlert">
    <div class="bg-white rounded-md w-full max-w-sm" role="alertdialog">
      <h5 class="font-medium pt-5 px-6 pb-2">Camera and microphone are blocked</h5>
      <p class="text-sm text-neutral-500 px-6">
        This application requires access to your camera and microphone. Please allow access for these.
      </p>
      <div class="flex justify-end p-2">
        <span role="button" class="button text-primary" id="dismissBtn">Dismiss</span>
      </div>
    </div>
  </div>
</body>

</html>