<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    const roomId = "<%= roomId %>";
    const base = "<%= baseURL %>";
  </script>
  <title>
    <%=roomId%> - Chatroom
  </title>
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="<%=baseURL%>/js/app.js" defer></script>
  <script src="<%=baseURL%>/js/chatroom.js" defer></script>
  <!-- <script src="<%=baseURL%>/script.js" defer></script> -->
  <link rel="stylesheet" href="<%=baseURL%>/css/styles.min.css">
  <style>
    .media-btn__off::before {
      content: '';
      position: absolute;
      background: red;
      height: 32px;
      width: 2px;
      rotate: 135deg;
    }
  </style>
</head>

<body class="bg-neutral-900 flex w-screen h-screen overflow-hidden flex-col" id="videoUI">
  <div class="flex-1 flex gap-2 py-2 px-2">
    <div class="h-full relative flex-1">
      <div class="h-full w-full">
        <div id="videoGrid" class="video-grid" style="max-height: calc(100vh - 96px);"></div>
      </div>
    </div>
    <div class="hidden sidepanel" id="infoPanel">
      <div class="header">
        <div>Meeting details
        </div>
        <button type="button"
          class="text-2xl leading-none h-8 w-8 rounded-full flex items-center justify-center hover:bg-slate-100 pb-1 -mr-1"
          onclick="showPanel('info')">&times;</button>
      </div>
      <div class="px-6 border-b border-gray-200 pb-6">
        <p class="text-sm text-neutral-800 font-medium mb-1">
          Joining Info
        </p>
        <input type="text" readonly value="<%=baseURL%>join/<%=roomId%>" class="text-sm text-neutral-500 w-full mb-6">
        <button type="button" class="flex items-center gap-2 text-blue-500"
          onclick="copyToClipboard('<%=baseURL%>join/<%=roomId%>')">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 01-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 011.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 00-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 01-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 00-3.375-3.375h-1.5a1.125 1.125 0 01-1.125-1.125v-1.5a3.375 3.375 0 00-3.375-3.375H9.75" />
          </svg>
          <span class="text-sm">
            Copy joining info
          </span>
        </button>
      </div>
    </div>
    <div class="hidden sidepanel" id="participantsPanel">
      <div class="header">
        <div>Participants</div>
        <button type="button"
          class="text-2xl leading-none h-8 w-8 rounded-full flex items-center justify-center hover:bg-slate-100 pb-1 -mr-1"
          onclick="showPanel('participants')">&times;</button>
      </div>
      <div class="px-6 py">
        <div class="border border-neutral-400 rounded-md py-3 px-4 flex items-center gap-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5 text-gray-400">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
          </svg>
          <input type="text" autocomplete="off" placeholder="Search for people" onkeyup="searchParticipants()"
            id="searchInput"
            class="focus:outline-none placeholder:text-md placeholder:font-light placeholder:text-neutral-500 text-neutral-700">
        </div>
      </div>
      <div class="px-6 py-4 text-neutral-700">In call</div>
      <div class="ulist" id="participantsList">
      </div>
    </div>
    <div class="hidden sidepanel-flex" id="chatPanel">
      <div class="header">
        <div>Chat Messages</div>
        <button type="button"
          class="text-2xl leading-none h-8 w-8 rounded-full flex items-center justify-center hover:bg-slate-100 pb-1 -mr-1"
          onclick="showPanel('chat')">&times;</button>
      </div>
      <div class="px-6">
        <div class="bg-neutral-100 text-neutral-600 text-center leading-tight text-xs rounded-lg p-5 mb-4">
          Messages can only be seen by the people in the call and are deleted when call ends.
        </div>
      </div>
      <div class="chat-list" id="chats-container"></div>
      <div id="send-form">
        <div class="chat-input">
          <textarea id="message-input" spellcheck="false" rows="1"
            class="w-full pt-3.5 px-2 h-12 bg-transparent resize-none placeholder:text-neutral-500 text-sm focus:outline-none"
            placeholder="Send a message to everyone"></textarea>
          <button type="button" id="send-button" class="text-neutral-500 disabled:opacity-50" disabled>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="h-20 px-2 sm:px-6 flex text-neutral-300 justify-between items-center">
    <div class="hidden sm:flex space-x-4">
      <div id="clock"></div>
      <div>|</div>
      <div>
        <%=roomId%>
      </div>
    </div>
    <div>
      <div class="flex items-center gap-1 sm:gap-4">
        <button type="button" class="control-btn__on" id="btnAudio" onclick="muteUnmute()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z" />
          </svg>
        </button>
        <button type="button" class="control-btn__on" id="btnVideo" onclick="cameraOnOff()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round"
              d="M15.75 10.5l4.72-4.72a.75.75 0 011.28.53v11.38a.75.75 0 01-1.28.53l-4.72-4.72M4.5 18.75h9a2.25 2.25 0 002.25-2.25v-9a2.25 2.25 0 00-2.25-2.25h-9A2.25 2.25 0 002.25 7.5v9a2.25 2.25 0 002.25 2.25z" />
          </svg>
        </button>
        <button type="button" class="control-btn__on" id="btnVideo" onclick="openFullscreen()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
          </svg>
        </button>
        <button type="button" class="control-btn__off" id="btnVideo" onclick="endCall()">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            class="w-5 h-5 rotate-[135deg]">
            <path fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
              clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>
    <div>
      <div class="flex gap-2 md:gap-5">
        <button type="button" id="chatInfoBtn" onclick="showPanel('info')"
          class="hover:bg-neutral-800 h-9 w-9 flex items-center justify-center rounded-full cursor-pointer transition xtrabtns">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
          </svg>
        </button>
        <button type="button" id="participantsBtn" onclick="showPanel('participants')"
          class="hover:bg-neutral-800 h-9 w-9 flex items-center justify-center rounded-full cursor-pointer transition xtrabtns">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
          </svg>
          <span
            class="flex absolute bg-white bg-opacity-10 items-center justify-center w-5 h-5 text-[10px] font-semibold rounded-full -mt-5 -mr-8"
            id="participantsCount">1</span>
        </button>
        <button type="button" id="chatBtn" onclick="showPanel('chat')"
          class="hover:bg-neutral-800 h-9 w-9 flex items-center justify-center rounded-full cursor-pointer transition xtrabtns">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div id="snackbar"></div>
  <div class="fixed inset-0 bg-black bg-opacity-70 z-10 items-center justify-center p-4 hidden" id="mediaAlert">
    <div class="bg-white rounded-md w-full max-w-sm" role="alertdialog">
      <h5 class="font-medium pt-5 px-6 pb-2">Camera and microphone are blocked</h5>
      <p class="text-sm text-neutral-500 px-6">
        This application requires access to your camera and microphone. Please allow access for these.
      </p>
      <div class="flex justify-end p-2">
        <span role="button" class="button text-primary" id="dismissBtn">Dismiss</span>
      </div>
    </div>
  </div>
  <div class="fixed inset-0 bg-black z-10 items-center justify-center p-4 hidden" id="endAlert">
    <div class="bg-white rounded-md w-full max-w-sm" role="alertdialog">
      <h5 class="font-medium pt-5 px-6 pb-2">Meeting Ended</h5>
      <p class="text-sm text-neutral-500 px-6">
        The meeting has been ended by the host. Thank you for your participations.
      </p>
      <div class="flex justify-end p-2">
        <span role="button" class="button text-primary font-semibold" id="returnHomeBtn">OK</span>
      </div>
    </div>
  </div>
</body>

</html>